<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{CommonResources.Donors}}
    <!--<small>List of donor</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{MenuResources.Donation}}</a></li>
        <li class="active">{{CommonResources.Donors}}</li>
        <li class="active">{{CommonResources.Edit}} {{CommonResources.Donor}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div messages-container></div>
                <div class="box-header with-border">
                    <h3 class="box-title">{{CommonResources.Edit}} {{CommonResources.Donor}}</h3>
                </div>
                <form name="form" ng-submit="submitForm(form.$valid)" novalidate>
                    <div class="box-body">
                        <!-- name -->
                        <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && form.name.$touched }">
                            <label>{{CommonResources.Name}}</label>
                            <input type="text" name="name" class="form-control" ng-model="donor.name" required>
                            <p ng-show="form.name.$invalid && form.name.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Name)}}</p>
                        </div>
                        <!-- email -->
                        <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && form.email.$touched }">
                            <label>{{CommonResources.Email}}</label>
                            <input type="email" name="email" class="form-control" ng-model="donor.email">
                            <p ng-show="form.email.$invalid && form.email.$touched" class="help-block">{{CommonResources.Msg_InvalidEmail.format(CommonResources.Email)}}</p>
                        </div>
                        <!-- note -->
                        <div class="form-group" ng-class="{ 'has-error' : form.note.$invalid && form.note.$touched }">
                            <label>{{CommonResources.Note}}</label>
                            <input type="text" name="note" class="form-control" ng-model="donor.note">
                        </div>

                        <!-- phone -->
                        <div class="form-group" ng-class="{ 'has-error' : form.phone.$invalid && form.phone.$touched }">
                            <label>{{CommonResources.Phone}}</label>
                            <input type="text" name="phone" class="form-control" ng-model="donor.phone">
                        </div>

                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary margin-right-buffer" ng-disabled="form.$invalid">{{CommonResources.Submit}}</button>
                            <a href="#/donation/donors" class="btn btn-default">{{CommonResources.Cancel}}</a>
                        </div>

                        
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->
</section>
<!-- /.content -->
