<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
            General UI
            <small>Preview of UI elements</small>
          </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">UI</a></li>
        <li class="active">General</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- START ALERTS AND ACCORDIONS -->
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">Alerts</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><i class="icon fa fa-{{alert.icon}}"></i> {{alert.msg}}</alert>
                    <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Accordion</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="oneAtATime"> Open only one at a time
                    </label>
                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.open" ng-repeat="group in groups">
                            <accordion-heading>
                                {{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            {{group.content}}
                        </accordion-group>
                    </accordion>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END ALERTS AND ACCORDIONS  -->
    <!-- START BUTTONS AND ACCORDIONS -->
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-warning"></i>
                    <h3 class="box-title">Buttons</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <h4>Single toggle</h4>
                    <pre>{{singleModel}}</pre>
                    <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Single Toggle
                    </button>
                    <h4>Checkbox</h4>
                    <pre>{{checkModel}}</pre>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
                        <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
                        <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
                    </div>
                    <h4>Radio &amp; Uncheckable Radio</h4>
                    <pre>{{radioModel || 'null'}}</pre>
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
                        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
                        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
                    </div>
                    <div class="btn-group">
                        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
                        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
                        <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Accordion</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="oneAtATime"> Open only one at a time
                    </label>
                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="status.open" ng-repeat="group in groups">
                            <accordion-heading>
                                {{group.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </accordion-heading>
                            {{group.content}}
                        </accordion-group>
                    </accordion>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- END ALERTS AND ACCORDIONS  -->
</section>
<!-- /.content -->
