<header class="view">
	<div class="header-content">
		<div class="header-content-inner">
			<h1>Mongosilakan v.2.0</h1>
			<hr>
			<p>Layanan terjemahan online Bahasa Indonesia ke Bahasa Jawa dan sebaliknya dengan Unggah-Ungguh Bahasa Jawa.</p>
			<a href="http://mongosilakan.net/translatorjawabeta" class="btn btn-default btn-xl page-scroll">Versi sebelumnya</a>
			<a href="#translate" class="btn btn-primary btn-xl page-scroll">Versi baru</a>
		</div>
	</div>
</header>
