<script type="text/ng-template" id="customTemplate.html">
	<a>
		<span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
		<span ng-bind-html="match.model.language_name | uibTypeaheadHighlight:query" class="dict-result-language"> | </span>
	</a>
</script>

<section class="" id="about">
	<div class="row no-margin">
		<!-- <form name="form" ng-submit="submitForm(form.$valid)" novalidate> -->
		<div class="row col-md-12">
			<div class="form-group col-md-8">
				<select-language-from name="language_id" id="from" class="col-xs-6" style="padding-right:0px" ng-model="entity.from" required>
				</select-language-from>
				<select-language-to name="language_id" id="to" class="col-xs-6 to-language" ng-model="entity.to" required>
				</select-language-to>
			</div>
		</div>
		<br />
		<div class="form-group  col-md-8">
			<div class="col-md-6">
				<textarea id="source" name="source" ng-change="onChange(this);" class="form-control" ng-model="entity.source">
				</textarea>
			</div>
			<div id="result" class="col-md-6">
				<editable ng-repeat="value in entity.result.advanced" class="word-result" model="value"  on-delete="" defaultval=""></editable>
				<br/>
			</div>
		</div>
		<div class="col-md-4 right-side">
			<uib-tabset active="activeJustified" justified="false">
				<uib-tab index="0" tooltip-placement="top" uib-tooltip="{{CommonResources.Dictionary}}">
					<uib-tab-heading>
						<i class="glyphicon glyphicon-search"></i>
					</uib-tab-heading>
					<br/>
					<div class="col-md-4">
						<ui-select ng-model="entity.dictionary_lang" theme="bootstrap">
							<ui-select-match placeholder="{{CommonResources.SelectLanguage}}" uib-tooltip="{{CommonResources.SelectLanguage}}" tooltip-placement="left">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices group-by="'local'" repeat="item in dictionaryLanguages | filter: $select.search">
								<span ng-bind-html="item.name | highlight: $select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="col-md-8 dict-drop-down">
						<input type="text" typeahead-wait-ms="200" typeahead-on-select="getWordDictionaryDetails($item, $model, $label, $event)" typeahead-template-url="customTemplate.html" ng-model="asyncSelected" placeholder="{{CommonResources.WordSearch}}" uib-typeahead="word.word for word in getSuggestionWordDictionary($viewValue)"
										typeahead-loading="loadingWords" typeahead-no-results="noResults" class="form-control">
						<span class="loading-dict"><i ng-show="loadingWords" class="glyphicon glyphicon-refresh"></i></span>
						<div ng-show="noResults" class="top-buffer">
							<i class="glyphicon glyphicon-remove"></i> {{CommonResources.DataNotFound}}
						</div>
					</div>
					<div class="col-md-12">
						<div ng-repeat="wordPerLanguage in wordsToFilter() | filter:filterTeams" class="bs-callout bs-callout-primary">
							<h4>{{(activeAndPendingLanguageList | filter:{'id':  wordPerLanguage.result_language_id }:true)[0].name}}</h4>
							<span ng-repeat="wordDetail in wordDetails | filter:{result_language_id: wordPerLanguage.result_language_id}" class="">{{wordDetail.result}}{{$last ? '' : ', '}} </span>
						</div>
					</div>
				</uib-tab>

				<uib-tab index="1" tooltip-placement="top" uib-tooltip="{{CommonResources.UnderConstruction}}">
					<uib-tab-heading>
						<i class="glyphicon glyphicon-wrench"></i>
					</uib-tab-heading>
					<br/>
					<div class="row">
						<div class="col-sm-12">
							<h5>{{CommonResources.IndonesiaNgoko}}</h5>
							<uib-progressbar class="progress-striped active" value="70" type="info">70%</uib-progressbar>
						</div>
						<div class="col-sm-12">
							<h5>{{CommonResources.IndonesiaKrama}}</h5>
							<uib-progressbar class="progress-striped active" value="30" type="warning">30%</uib-progressbar>
						</div>
						<div class="col-sm-12">
							<h5>{{CommonResources.IndonesiaKramaInggil}}</h5>
							<uib-progressbar class="progress-striped active" value="30" type="warning">30%</uib-progressbar>
						</div>
						<div class="col-sm-12">
							<h5>{{CommonResources.SaveTranslation}} <span class="label label-primary">{{CommonResources.New}}</span></h5>
							<uib-progressbar class="progress-striped active" value="10" type="danger">10%</uib-progressbar>
						</div>
						<div class="col-sm-12">
							<h5>{{CommonResources.IndonesiaSunda}} <span class="label label-primary">{{CommonResources.New}}</span></h5>
							<uib-progressbar class="progress-striped active" value="25" type="warning">25%</uib-progressbar>
						</div>
						<div class="col-sm-12">
							<h5>{{CommonResources.IndonesiaSundaHalus}} <span class="label label-primary">{{CommonResources.New}}</span></h5>
							<uib-progressbar class="progress-striped active" value="25" type="warning">25%</uib-progressbar>
						</div>
					</div>
					<br/>
					<div class="col-sm-12 text-center">
		                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		                    <input type="hidden" name="cmd" value="_s-xclick">
		                    <input type="hidden" name="hosted_button_id" value="349LC7LJLZZNW">
		                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		                </form>
		            </div>
				</uib-tab>

				<uib-tab index="2" tooltip-placement="top" uib-tooltip="{{CommonResources.Comments}}">
					<uib-tab-heading>
						<i class="glyphicon glyphicon-comment"></i>
					</uib-tab-heading>
					<!-- <div class="fb-comments" data-order-by="reverse_time" data-width="100%" data-href="http://bahasa.site/" data-numposts="5"></div> -->
				</uib-tab>
			</uib-tabset>
		</div>
		<!-- </form> -->

		<script type="text/ng-template" id="editable-template">
			<span class="drop-down">
	    	<span style="white-space: pre;" ng-mouseover="hover($event)" ng-mouseleave="leave($event)" class="c1" ng-hide="editorEnabled" ng-mousedown="enableEditor($event);">{{model.default.result | default:''}}</span>
			<input ng-if="editorEnabled" ng-model="editModel" ng-style="{ 'width' : model.pxwidth, 'text-align' : 'left' }" ng-blur="inputOnBlur()" ng-required ng-keydown="editableOnChange($event)" class=" editable" />
			<div class="options" style="position:absolute">
				<ul class="vertical-nav">
					<li ng-repeat="option in model" ng-mouseleave="altLeave(this.option)" ng-mouseenter="altHover($event, this.option)" ng-class="{'alt-hover':showRate}">
						<a href="">{{option.result}}</a>
						<ul class="sub-menu">
							<li ng-style="{ 'width' : model.altpxwidth}" ng-mouseenter="showRate = true;" ng-mouseleave="showRate = false;">
								<a href="">
									<div ng-show="showRate==true" class="rate-background-show rate-background rate-show-hide"></div>
									<div class="rating-input  rate-show-hide">
										<span ng-mousedown="selectWord(option)" class="result-mask" ng-style="{ 'width' : model.altpxwidth}">{{option.result}} {{showRate}}</span>
										<span ng-show="showRate==true" ng-mousedown="selectRate(0, option)" ng-mouseenter="starHover(0, option);showRate = true;" class="animate-rate-show glyphicon glyphicon-minus-sign rate"></span>
										<span ng-show="showRate==true" ng-mousedown="selectRate(1, option)" ng-class="{'glyphicon-star': option.hover[1], 'glyphicon-star-empty': !option.hover[1]}" ng-mouseenter="starHover(1, option)" class="animate-rate-show glyphicon rate"></span>
										<span ng-show="showRate==true" ng-mousedown="selectRate(2, option)" ng-class="{'glyphicon-star': option.hover[2], 'glyphicon-star-empty': !option.hover[2]}" ng-mouseenter="starHover(2, option)" class="animate-rate-show glyphicon rate"></span>
										<span ng-show="showRate==true" ng-mousedown="selectRate(3, option)" ng-class="{'glyphicon-star': option.hover[3], 'glyphicon-star-empty': !option.hover[3]}" ng-mouseenter="starHover(3, option)" class="animate-rate-show glyphicon rate"></span>
										<span ng-show="showRate==true" ng-mousedown="selectRate(4, option)" ng-class="{'glyphicon-star': option.hover[4], 'glyphicon-star-empty': !option.hover[4]}" ng-mouseenter="starHover(4, option)" class="animate-rate-show glyphicon rate"></span>
										<span ng-show="showRate==true" ng-mousedown="selectRate(5, option)" ng-class="{'glyphicon-star': option.hover[5], 'glyphicon-star-empty': !option.hover[5]}" ng-mouseenter="starHover(5, option)" class="animate-rate-show glyphicon rate"></span>
									</div>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			</span>
		</script>
	</div>

	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.6&appId=709105685807412";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

</section>
