<section class="content-header">
    <h1>
    {{ConfigurationResources.Login}}
    <!--<small>List of user</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{MenuResources.Configurations}}</a></li>
        <li class="active">{{ConfigurationResources.Login}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div messages-container></div>
                <!-- <div class="box-header with-border">
                    <h3 class="box-title">{{CommonResources.Create}} {{ConfigurationResources.User}}</h3>
                </div> -->
                <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                    <div class="box-body">
                        <!-- username -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && userForm.username.$touched }">
                            <label>{{ConfigurationResources.Username}}</label>
                            <input type="text" name="username" class="form-control" ng-model="user.username" required>
                            <p ng-show="userForm.username.$invalid && userForm.username.$touched" class="help-block">{{CommonResources.Msg_Required.format(ConfigurationResources.UsernameOrEmail)}}</p>
                        </div>
                        <!-- password -->
                        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$touched }">
                            <label>{{ConfigurationResources.Password}}</label>
                            <input type="password" name="password" class="form-control" ng-model="user.password" required>
                            <p ng-show="userForm.password.$invalid && userForm.password.$touched" class="help-block">{{CommonResources.Msg_Required.format(ConfigurationResources.Password)}}</p>
                        </div>
                        <!-- button -->
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary margin-right-buffer" ng-disabled="userForm.$invalid">{{CommonResources.Submit}}</button>
                            <a href="#/users" class="btn btn-default">{{CommonResources.Cancel}}</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->
</section>
<!-- /.content -->