<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    {{MenuResources.WordTypes}}
    <!--<small>List of wordType</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {{MenuResources.Dictionary}}</a></li>
        <li class="active">{{MenuResources.WordTypes}}</li>
        <li class="active">{{CommonResources.Create}} {{DictionaryResources.WordType}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div messages-container></div>
                <div class="box-header with-border">
                    <h3 class="box-title">{{CommonResources.Create}} {{ConfigurationResources.WordType}}</h3>
                </div>
                <form name="entityForm" ng-submit="submitForm(entityForm.$valid)" novalidate>
                    <div class="box-body">
                        <!-- name -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.name.$invalid && entityForm.name.$touched }">
                            <label>{{CommonResources.Name}}</label>
                            <input type="text" name="name" class="form-control" ng-model="entity.name" required>
                            <p ng-show="entityForm.name.$invalid && entityForm.name.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Name)}}</p>
                        </div>
                        <!-- Description -->
                        <div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && form.description.$touched }">
                            <label>Description</label>
                            <textarea ng-model="entity.description"class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                        <!-- status -->
                        <div class="form-group" ng-class="{ 'has-error' : entityForm.status_id.$invalid && entityForm.status_id.$touched }">
                            <label for="status_id">{{ConfigurationResources.Status}}</label>
                            <status-dropdown name="status_id"  ng-model="entity.status_id" required></status-dropdown>
                            <p ng-show="entityForm.status_id.$invalid && entityForm.status_id.$touched" class="help-block">{{CommonResources.Msg_Required.format(CommonResources.Status)}}</p>
                        </div>
                        <!-- button -->
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary margin-right-buffer" ng-disabled="entityForm.$invalid">{{CommonResources.Submit}}</button>
                            <a href="#/dictionary/wordTypes" class="btn btn-default">{{CommonResources.Cancel}}</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->
</section>
<!-- /.content -->