html, body {
    width: 100%;
    min-height: 1050px;
    height: 90%;
}
.iklan-panjang{
    display: none;
}

.swap{
    margin: 0px 10px 0px -5px;
}

.swap-desktop{
    padding: 9px 10px 6px 10px;
    background: #f5f5f5;
    border-radius: 3px;

}

#source {
    font-size: 16px;
    margin-bottom: 15px;
    min-height: 150px;
}


#result {
    background: #f5f5f5;
    min-height: 153px;
    padding-top: 5px;
    margin-bottom: 60px;
}

.top-ads-desktop{
    top: 55px;
    position: relative;
    min-height: 45px;
    margin-bottom: -45px;
    display: none;
    z-index: 999;
}

.top-ads-mobile{
    top: 55px;
    position: relative;
    min-height: 45px;
    margin-bottom: -20px;
    display: none;
    z-index: 999;
}

@media (max-width: 768px) {
    .top-ads-mobile{
        display: block;
    }

    section {
        padding: 75px 0;
    }

    #source {
        min-height: 100px;
    }

    #result {
        margin-left: 15px;
        margin-right: 15px;
        min-height: 125px;
    }

    #to>div>div>span, #from>div>div>span{
        border-color: #ed431f;
        color: #fff;
        background-color: #ee4b28;
    }

    .to-language{
        padding-left:0px
    }
}
@media (min-width: 768px) {
    html, body {
        min-height: 90%;
    }
    .iklan-panjang{
        display: initial;
    }
    .iklan-kotak{
        display: none;
    }
    .top-ads-desktop{
        display: block;
    }
}
li.googleSignIn {
    /*padding-left :5px;
	padding-right: 3px;*/
    margin-top: -5px;
    margin-bottom: -5px;
}
.user-image {
    /*float: right;*/
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -2px;
}
.right-tabs {
    margin-top: -50px;
}
.toast-top-right {
    margin-top: 50px
}
.result-hover {
    background: #E4BD79;
    border-radius: 2px;
    cursor: pointer;
}
.word-result {
    /*height: 30px;*/
    font-size: 16px;
    margin-right: -4px
}
.editable {
    height: auto;
    border: 0px inset;
}
.options {
    font-size: 12px;
}
.no-margin {
    margin: 0px;
}
.no-outline {
    outline: none !important;
}
.language.btn-primary.active.focus, .language.btn-primary.active:focus, .language.btn-primary.active:hover, .language.btn-primary:active.focus, .language.btn-primary:active:focus, .language.btn-primary:active:hover, .open>.dropdown-toggle.language.btn-primary.focus, .open>.dropdown-toggle.language.btn-primary:focus, .open>.dropdown-toggle.language.btn-primary:hover {
    background-color: #ee4b28;
    border-color: #ed431f;
}
* {
    margin: 0;
    padding: 0;
}
.drop-down {
    /*position: absolute;*/
    left: 42%;
    top: 40%;
}
.drop-down .selected a {
    background: #fff no-repeat scroll right center;
    display: block;
    padding-right: 20px;
    border: 1px solid #d7d7d7;
    width: 150px;
    border-radius: 2px;
    text-decoration: none;
    color: #3179ac;
}
.drop-down .selected a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}
.drop-down .option {
    position: relative;
}
.drop-down .options ul.vertical-nav {
    border: 1px solid #d7d7d7;
    background: #FFFFFF;
    display: none;
    list-style: none;
    padding: 0px 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: auto;
}
.drop-down .selected span.value, .drop-down .options span.value {
    display: none;
}
.drop-down .options ul li a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding-top: 1px;
    margin-left: 2px;
}
.drop-down .options ul li a:hover {
    transition: 0.2s ease;
}
.vertical-nav li ul.sub-menu {
    display: none;
}
.vertical-nav li {
    text-decoration: none;
    height: 20px;
    vertical-align: middle;
    /*display: table-cell;*/
}
.vertical-nav li ul.sub-menu {
    position: relative;
    top: -27.5px;
    transition: 0.2s ease;
    display: block;
    height: 0px;
}
.result-mask {
    display: inline-block;
    color: transparent;
    /*margin-top: -24px;*/
    padding-top: 4px;
    padding-left: 2px;
    /*margin-left: -2px;*/
    /*margin-right: 3px;*/
    margin: -24px 2px 0px -2px;
}
.vertical-nav li:hover ul.sub-menu li {
    display: inline-block;
}
.vertical-nav li:hover ul.sub-menu {}
.sub-menu li {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    padding-left: 3px;
    white-space: nowrap;
    vertical-align: middle;
}
.rate {
    font-size: 10px;
    width: 10px;
    margin-left: -3px;
    color: orange;
    margin-top: 3px;
}
.glyphicon-minus-sign.rate {
    font-size: 8px;
    top: 0px;
}
.alt-hover {
    background: #F5F5F5;
}
.rate-background {
    top: 0px;
    height: 19px;
    position: absolute;
    width: 73px;
    left: 100%;
    padding-left: 3px;
    background: white;
    border: 1px solid #E0DCDC;
    /*border-left:0px solid ;*/
}
.rate-show-hide {
    -webkit-transition: visibility linear 0.3s;
    transition: visibility linear 0.3s;
}
.rate-show-hide.ng-hide {
    opacity: 0;
}
.fb-like {
    float: right;
}
.right-side {
    top: -50px
}
.animate-rate-show {
    opacity: 1;
    left: 0%
}
.animate-rate-show.ng-hide-add, .animate-rate-show.ng-hide-remove {
    transition: all linear 0.1s;
}
.animate-rate-show.ng-hide {
    opacity: 0;
    left: -20%;
}
.rate-background-show {
    opacity: 1;
    left: 100%
}
.rate-background-show.ng-hide-add, .rate-background-show.ng-hide-remove {
    transition: all linear 0.1s;
}
.rate-background-show.ng-hide {
    opacity: 0;
    left: 80%;
}
.btn {
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    border-color: #ccc;
}

.dict-result-language{
    float:right;
}

.dict-drop-down>ul{
    min-width: 92%
}
.top-buffer { margin-top:10px; }

.loading-dict {
    margin-top: -25px;
    display: block;
    float: right;
    margin-right: 10px;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #f05f40;
}
.bs-callout-primary h4 {
    color: #f05f40;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
